body {
  font-family: "Lato", "Source Sans Pro", sans-serif;
  color:"yellow";
  background-color: "red";
  
}


h1, h2 {
  font-family: "Lora", serif;
}

h3 {
  font-family: "Lato", "Source Sans Pro", sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: "Source Code Pro", "Lucida Console", monospace;
}

.myspan {
  color:"red";
}

:root {
/*-- COLOR VARIABLES --*/
--DarkBlue:           #003087;
--Blue:               #005EB8;
--BrightBlue:         #0072CE;

--Black:              #231F20;
--DarkGrey:           #425563;
--MidGrey:            #768692;
--PaleGrey:           #E8EDEE;
--White:              #FFFFFF;

--DarkGreen:          #006747;
--Green:              #009639;
--AquaGreen:          #00A499;

--Purple:             #330072;
--DarkPink:           #7C2855;
--Pink:               #AE2573;
--DarkRed:            #8A1538;
--Red:                #DA291C;

--my-blue:            #122140;
--my-yellow:          #e5bf00;
--my-gold:            #ae8f00;

--my-coral:          #903030;
--my-red:            #600018;
--my-pink:           #c09090;
}

.about-me-slide h1 {
  color:              var(--my-gold);
  font-weight:        600;
}

.about-me-slide {
  color: var(--White);
}


.inverse {
  background-color:   var(--my-blue);
  color:              var(--PaleGrey);
  text-shadow:        none;
}

